name: Pre Pull Request Check
on:
  pull_request:
    types: [ 'opened', 'synchronize', 'reopened']
    paths:
      - 'terraform/**'

env:
  GH_TOKEN: ${{ github.token }}
  TERRAFORM_GREPT_CONFIG: "/home/runner/work/Azure-Verified-Modules-Grept/Azure-Verified-Modules-Grept/grept/terraform"

jobs:
  prepr-check:
    runs-on: ubuntu-latest
    steps:
      - name: checkout current config
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          path: 'grept'
      - name: checkout terraform template repo
        run: |
          git clone https://github.com/Azure/terraform-azurerm-avm-template.git
      - name: install go
        uses: actions/setup-go@93397bea11091df50f3d7e59dc26a7711a8bcfbe #v4.1.0
        with:
          go-version: '1.21'
      - name: install grept
        run: |
          GOPROXY=direct go install github.com/Azure/grept@latest
      - name: plan against terraform template
        run: |
          OUTPUT=$(grept plan $TERRAFORM_GREPT_CONFIG)
          echo "$OUTPUT"
          echo "$OUTPUT" | grep -q "All rule checks successful, nothing to do."
        working-directory: terraform-azurerm-avm-template
        env:
          OVERRIDE_GITHUB_REPOSITORY: Azure/terraform-azurerm-avm-template
          OVERRIDE_GITHUB_REPOSITORY_OWNER: Azure
